@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.hamburger-react {
  display: none;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .hamburger-react {
    color: white;
    display: initial;
  }
}

.header-shadow {
  box-shadow:
    rgba(28, 28, 39, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

section {
  padding: 80px 0;
  scroll-margin-top: 100px;
}

@media screen and (min-width: 1024px) {
  section {
    scroll-margin-top: 140px;
  }
}

.vertical-timeline::before {
  background-color: #854ce6 !important;
}

.skills-track {
  animation: scrollSkills 20s linear infinite;
}

.skills-track:hover {
  animation-play-state: paused;
}

@keyframes scrollSkills {
  to {
    transform: translateX(-50%);
  }
}

.loader {
  width: 100%;
  height: 100%;
  background-color: #1c1c27;
  z-index: 11;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.pl {
  width: 11em;
  height: 10em;
}

.pl__ring,
.pl__worm1,
.pl__worm2,
.pl__worm3 {
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.pl__ring {
  stroke: hsla(223, 10%, 10%, 0.1);
  transition: stroke 0.3s;
}

.pl__worm1 {
  animation-name: worm1;
}

.pl__worm2 {
  animation-name: worm2;
  transform-origin: 32px 88px;
}

.pl__worm3 {
  animation-name: worm3;
  transform-origin: 144px 88px;
}

@media (prefers-color-scheme: dark) {
  .pl__ring {
    stroke: #232332;
  }
}

@keyframes worm1 {
  from {
    animation-timing-function: ease-out;
    stroke-dashoffset: 43.98;
  }
  12.5% {
    animation-timing-function: ease-in-out;
    stroke-dashoffset: -131.95;
  }
  25% {
    animation-timing-function: ease-in;
    stroke-dashoffset: 0;
  }
  37.5%,
  50% {
    animation-timing-function: ease-out;
    stroke-dashoffset: -175.93;
  }
  62.5% {
    animation-timing-function: ease-in-out;
    stroke-dashoffset: 0;
  }
  75% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -131.95;
  }
  87.5%,
  to {
    stroke-dashoffset: 43.98;
  }
}

@keyframes worm2 {
  from,
  35.5% {
    animation-timing-function: linear;
    stroke-dasharray: 0 40 0 44;
    visibility: hidden;
    transform: translate(0, 0) rotate(0);
  }
  37.5% {
    animation-timing-function: ease-out;
    stroke-dasharray: 0 40 44 0;
    visibility: visible;
    transform: translate(0, 0) rotate(0);
  }
  47.5% {
    animation-timing-function: ease-in;
    stroke-dasharray: 0 4 40 40;
    visibility: visible;
    transform: translate(0, -80px) rotate(360deg);
  }
  50% {
    animation-timing-function: linear;
    stroke-dasharray: 0 4 40 40;
    visibility: visible;
    transform: translate(0, -36px) rotate(360deg);
  }
  52.5%,
  to {
    stroke-dasharray: 0 42 0 42;
    visibility: hidden;
    transform: translate(0, 12px) rotate(360deg);
  }
}

@keyframes worm3 {
  from {
    animation-timing-function: linear;
    stroke-dasharray: 0 4 40 40;
    visibility: visible;
    transform: translate(0, -36px) rotate(0);
  }
  2.5% {
    animation-timing-function: linear;
    stroke-dasharray: 0 42 0 42;
    visibility: hidden;
    transform: translate(0, 12px) rotate(0);
  }
  85.5% {
    animation-timing-function: linear;
    stroke-dasharray: 0 40 0 44;
    visibility: hidden;
    transform: translate(0, 0) rotate(0);
  }
  87.5% {
    animation-timing-function: ease-out;
    stroke-dasharray: 0 40 44 0;
    visibility: visible;
    transform: translate(0, 0) rotate(0);
  }
  97.5% {
    animation-timing-function: ease-in;
    stroke-dasharray: 0 4 40 40;
    visibility: visible;
    transform: translate(0, -80px) rotate(-360deg);
  }
  to {
    stroke-dasharray: 0 4 40 40;
    visibility: visible;
    transform: translate(0, -36px) rotate(-360deg);
  }
}

.Toastify .Toastify__toast-container .Toastify__toast-theme--dark {
  background-color: #232332;
}

.Toastify
  .Toastify__toast-container
  .Toastify__toast-theme--dark
  .Toastify__toast-body
  div:last-child {
  font-family: Poppins;
}
